{% extends 'home/base.html' %}

{% load static %}
{% block title %} ALMS {% endblock title %}


{% block content %}
<div class="container" style="border: 2px ; border-radius: 5px; width: 100%; height:auto; padding: 5px; background-color: aliceblue; ">
  <img src="{% static 'images/ALMS.png' %}" alt="Forest" width="50%" style=" border: 2px solid black; border-radius: 10%; float: right;">
  <p style="font-weight: bold; font-size:medium; color:black;">In densely populated countries like India, food wastage is a prime issue faced by society.
    Food wastage is not only an indicator of hunger or population but can also be caused by many economic problems.
     Instead of letting the food be wasted, we can use them in use by donating it to the needy, and these needy people can be found in places like orphanages, old age homes, etc.
    Our product is an internet-based website that basically aims at giving food for free and goods at the minimum possible cost. <br> For charity.
    Everyone has something to give, so why don’t you?</p>
<!-- <--<h1 style="background-color: rgb(110, 151, 247); color:rgb(0, 0, 0); border:1px solid rgb(0, 0, 0);  border-radius:5px;  text-align:center;">WHAT WE DO........</h1> -->
<!-- <img src="{% static 'images/.png' %}" alt="Forest" width="100%" style="float: right; border:1px; border-radius:10px;cursor:text;" > -->
<h1 style="font-weight: bold; margin-left:20px;">   Extend A Helping Hand; Give Hope</h1>
<p style="font-weight: bold; font-size:medium; color:black;">
  Feed Their Hearts With Every Meal Donated: India, with a population of over 1.3 billion, has seen tremendous growth in the past two decades. Gross Domestic Product has increased 4.5 times and per capita consumption has increased 3 times. Similarly, food grain production has increased almost 2 times. However, despite phenomenal industrial and economic growth and while India produces sufficient food to feed its population, it is unable to provide access to food to many people, especially women and children.
  According to FAO estimates in ‘The State of Food Security and Nutrition in the World, 2020 report, 189.2 million people are undernourished in India. By this measure, 14% of the population is undernourished in India. Further according to the report 34.7% of the children aged under five in India are stunted (too short for their age), while 20% suffer from wasting, meaning their weight is too low for their height. 
  The Global Hunger Index 2020 ranks India at 101 out of 116 countries on the basis of three leading indicators -- prevalence of wasting and stunting in children under 5 years, under 5 child mortality rate, and the proportion of undernourished in the population.</p>
<!--<p style="border:1px; border-radius:25px ; background-color: rgb(190, 241, 136); font-weight:bold; color:black; ">ALMS targets the audience that can’t afford food and other basic amenities for living and on another hand those who have surplus goods and want to be a part of a charity. Being educated and responsible citizens we the students all have witnessed wastage, such as food remains in parties and buffets and goods like second-hand books, clothes, and utensils, these can be used to help the needy and reduce wastage.</p>

<img src="{% static 'images/BG.png' %}" alt="Forest" width="50%" style="float: left; border:1px; border-radius:10px;" > -->


<!-- <img src="{% static 'images/.png' %}" alt="Forest" width="100%" style="cursor:text;"> -->
<!-- <img src="{% static 'images/.jpg' %}" alt="Forest" width="100%" style="cursor:text;"> -->

</div>
  <h1></h1>

{% endblock content %}
   