{% extends 'home/base.html' %} {% load static %} {% block title %} order the items {% endblock title %} {% load crispy_forms_tags %} {% block content %}
<form method="post">
    {% csrf_token %}
    <table class="table table-bordered mx-auto " style="width: 1000px;">
        <tbody>
            <thead>
                <tr>

                    <th>image</th>
                    <th>Item Name</th>
                    <th>Desciption</th>
                    <th>Cost</th>
                    <th>Place order</th>

                </tr>
            </thead>

            <tr>

                {% for i in prod_list%}


                <td class=" mx-2 " style="width: 300px; ">
                    <img src='/media/{{i.image}}' class="card-img-top " alt="--NA-- "></td>

                <td class="mx-auto " style="width: 200px;">
                    <p>{{i.name}}</p>
                </td>
                </td>
                <td class="mx-auto " style="width: 200px; ">
                    <p>{{i.desc}}</p>
                </td>
                <td class="mx-auto " style="width: 200px; ">
                    <p>{{i.cost}}</p>
                    <td><button type="submit" class="btn btn-primary" value="{{i.id}}" name="submit">Order</button></td>
                    </div>
            </tr>


            </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% if prod_list.has_other_pages %}
    <h1>
        <ul class="pagination mx-auto text-white" style="width: 200px;" ">
        {% if prod_list.has_previous %}
        <li><a href="?page={{ prod_list.previous_page_number }} ">&laquo;</a></li>
        {% else %}
        <li class="disabled "><span>&laquo;</span></li>
        {% endif %} {% for i in prod_list.paginator.page_range %} {% if prod_list.number == i %}
        <li class="active "><span>{{ i }} <span class="sr-only ">(current)</span></span>
        </li>
        {% else %}
        <li><a href="?page={{ i }} ">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if prod_list.has_next %}
        <li><a href="?page={{ prod_list.next_page_number }} ">&raquo;</a></li>
        {% else %}
        <li class="disabled "><span>&raquo;</span></li>
        {% endif %}
    </ul>
</h1>
</form>
{% endif %} {% endblock content %}